/* Vars */
:root {
    --primary-color: #bd0100;
    --secondary-color: #ffc94f;
}

body {
    background-color: #ffc94f;
    font-family: "Nunito", sans-serif;
}

h1,h3,h5 {
    font-family: "Sriracha", cursive;
}

.text-justify {
    text-align: justify;
}

/* Hero */
#hero {
    background: url("./assets/hero.jpg") no-repeat center center;
    background-size: cover;
    background-position: 0;
    height: 100vh;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hero > .menu-trigger {
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: relative;
    border: none;
}

#hero > .menu-trigger > div {
    width: 32px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
}

#hero > .menu-trigger > div:nth-child(2) {
    top: 10px;
}

#hero > .menu-trigger > div:nth-child(3) {
    top: 20px;
}

#hero > .text > h1,
#hero > .text > h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: "Sriracha", cursive;
    color: var(--primary-color);
    margin: 0;
    line-height: 1;
}

#hero > .text > h2 {
    font-size: 100px;
    margin-top: 0;
    margin-left: 30px;
}

#hero > .text > .slogan {
    border: none;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: fit-content;
    font-size: 30px;
    margin-top: 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 1;
    padding: 20px 0 10px;
    font-weight: 900;
}

#hero > .text > .xcontest {
    font-size: 20px;
    color: var(--primary-color);
    margin-top: 30px;
    max-width: 40%;
    font-weight: 600;
}

#hero > .down-arrow {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    animation: bounce 2s infinite;
}

/* Tết introduce */
#introduce {
    margin-top: 100px;
    color: var(--primary-color);
}

#introduce > div:nth-child(1) > img {
    border-radius: 10px;
    height: 500px;
}

/* Tết introduce 2 */
#introduce-2 {
    color: var(--primary-color);
}

#introduce-2 > div:nth-child(1) > ul {
    font-size: 20px;
}

#introduce-2 > div:nth-child(2) > img {
    border-radius: 10px;
    height: 500px;
}

/* Food */
#foods {
    margin-top: 100px;
    color: var(--primary-color);
}

#food {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    border-radius: 0;
    margin-right: 30px;
    margin-bottom: 20px;
}

.card-body {
    padding: var(--bs-card-spacer-y) 0
}

.card-img-top {
    border-radius: 7px;
    height: 165px;
    object-fit: cover;
}


/* Animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
